
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/775facc0e6.js" crossorigin="anonymous"></script>
    <link rel="website icon" type="png" href="./assets/img/logo_ps.png">
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Parrainsup</title>
</head>
<body>
    <div id="page">
        <div class="top">
            <img id="logo" src="./assets/img/parrainsup.png" alt="Logo parrainsup">
        </div>
        <div id="content-profile" v-if=" page === 'profile' ">
            <p>Page de profile</p>
        </div>
        <div id="content-match" v-else-if=" page === 'match' ">
            <p>Page des match</p>
        </div>
        <div id="content-home" v-else>
            <div class="card">
                <img id="card-picture" v-bind:src="user.imageUrl" alt="photo">
                <h3 id="card-name">{{ user.prenom }}</h3>
                <h4 id="card-school">{{ user.ecole }}</h4>
                <div id="card-description">
                    <p class="card-description-style" v-for="annecdote in user.description" :key="annecdote.id">{{ annecdote.text }}</p>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="icon-conteiner">
                <button class="navbar-button" id="button-profile" @click="changePage('profile')">
                    <i id="icon-profile" :class="{ 'big-icon': page === 'profile', 'little-icon': page !== 'profile' }" class="icon fa-solid fa-user"></i>
                </button>
            </div>
            <div class="icon-conteiner">
                <button class="navbar-button" id="button-home" @click="changePage('home')">
                    <i id="icon-home" :class="{ 'big-icon': page === 'home', 'little-icon': page !== 'home' }" class="icon fa-solid fa-right-left"></i>
                </button>
            </div>
            <div class="icon-conteiner">
                <button class="navbar-button" id="button-match" @click="changePage('match')">
                    <i id="icon-match" :class="{ 'big-icon': page === 'match', 'little-icon': page !== 'match' }" class="icon fa-solid fa-check"></i>
                </button>
            </div>
        </div>
    </div>
    <script>
        const vm = Vue.createApp({
            data(){
                return {
                    page: 'home',
                    user: {
                        imageUrl: "https://picsum.photos/300/200",
                        prenom: 'Antonin',
                        ecole: "ENSEIRB-MATMECA",
                        description: [
                            {id: 0, text: "Trop cringe"},
                            {id: 1, text: "S'est déjà fait sucer dans un parc"},
                            {id: 3, text: "Est le bébou d'Eliot"},
                            {id: 3, text: "Viens en cours d'info contrairement à certains"}
                        ]
                    }
                }
            },
            methods: {
                changePage(page){
                    this.page = page;
                }
            }
        }).mount('#page')
    </script>
</body>
</html>