body{
    margin: 0;
}

#page {
    margin: 0;
}

.top {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    background-color: lightgray;
    width: 100%;
    padding-top: 1.6em;
    padding-bottom: 1.1em;
}

#logo {
    scale: 80%;
}

.card {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: 3.5em;
    text-align: center;
    background-color: lightgray;
    border-radius: 3em;
    width: 18em;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#card-picture {
    border-radius: 1rem;
    max-width: 12rem;
    max-height: 10rem;
}

#card-name {
    margin-top: 0.8rem;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0;
}

#card-school {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
}

#card-description {
    font-size: 1em;
}

.card-description-style {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    position: absolute;
    background-color: #3d566e;
    width: 100%;
    height: 3.5rem;
    position: absolute;
    bottom: 0;
}

.icon-conteiner {
    padding-top: 1.2rem;
}

.navbar-button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.icon {
    color: lightgray;
}


.little-icon {
    scale: 150%;
}

.big-icon {
    scale: 200%;
}