body{
    margin: 0;
}

#page {
    margin: 0;
}

.top {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    background-color: lightgray;
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 1.1rem;
}

#accueil-logo {
    background-color: #bfc9f4;
    text-align: center;
}

#accueil-logo img {
    margin-top: 8rem;
    margin-bottom: 8rem;
    scale: 170%
}

#logo {
    scale: 80%;
}

#content-profile {
    font-family: Arial, Helvetica, sans-serif;
}

#profile-page-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

#form-info-profil-conteiner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 45vh;
}

#form-info-profile {
    margin-top: 3.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3.5rem;
    text-align: center;
    background-color: rgb(222, 222, 240);
    border-radius: 3rem;
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
}

.form-info-profile-element {
    margin-top: 1rem;
    font-size: 1.3rem;
}

#form-info-profile-submit {
    text-align: center;
    border-radius: 12px;
    color: lightgray;
    background-color: #1d3b58;
    padding: 0.7rem;
    border: none;
    box-shadow: none;
}

#content-home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 77vh;
}

.card {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: center;
    background-color: lightgray;
    border-radius: 3em;
    width: 18em;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.card-picture {
    border-radius: 1rem;
    max-width: 12rem;
    max-height: 10rem;
}

.card-name {
    margin-top: 0.8rem;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 0;
}

.card-ecole {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.card-ecole-filiere {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0;
    color: rgb(111, 111, 111);
}

.card-description {
    margin-top: 0.8rem;
    font-size: 1rem;
}

.card-description-style {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

#content-match {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

#match-preview-page-title {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.match-color {
    background-color: #A4CB97;
}

.unmatch-color {
    background-color: #CB9797;
}

.match-preview-conteiner {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.9rem;
    border-radius: 15px;
    padding-top: 0.9rem;
    padding-bottom: 0.23rem;
    padding-left: 1rem;
    display: flex;
}

.match-preview-photo {
    min-width: 3rem;
    min-height: 3rem;
    max-width: 4rem;
    max-height: 3.5rem;
    border-radius: 10px;
}

.match-preview-info {
    vertical-align: center;
    margin-left: 0.6rem;
}

.match-preview-prenom {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
    color: black;
    font-size: 1.2rem;

}

.match-preview-ecole {
    margin-top: 0;
    font-weight: bold;
    font-size: 0.8rem;
    color: rgb(111, 111, 111);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    background-color: #3d566e;
    width: 100%;
    height: 3.5rem;
    position: fixed;
    bottom: 0;
}

.icon-conteiner {
    padding-top: 1.2rem;
}

.navbar-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
}

.icon {
    color: lightgray;
}


.little-icon {
    scale: 150%;
}

.big-icon {
    scale: 200%;
}